.tracker {
  background: @color-first;
  padding-top: 16px;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
  
  @media screen and (orientation: landscape) {
    height: auto;
  }
  
  @media screen and (max-height: 525px) {
    height: auto;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    background: @color-first;
    bottom: -58px;
    left: -5%;
    width: 110%;
    height: 160px;
    border-radius: 50%;
    z-index: -1;
  }
  
  &__button-bar {
    margin: 0 auto;
  }
  
  &__breast {
    display: flex;
    margin-top: 120px;
    justify-content: center;
  }
  
  &__breast-item {
    position: relative;
    
    &+& {
      margin-left: 30px;
    }
  }
  
  &__breast-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding-left: 2px;
    padding-top: 5px;
    
    &--active {
      background: #fff;
      padding-left: 0px;
      padding-top: 6px;
      
      .tracker__breast-button-icon {
        background: url(../img/icon-stop.svg) no-repeat center;
        width: 22px;
        height: 27px;
        background-size: cover;
        left: 0;
      }
      
      .tracker__breast-button-content {
        color: @color-first;
        margin-top: 14px;
      }
      
      +.tracker__breast-timer {
        color: #fff;
        opacity: 1;
      }
    }
  }
  
  &__breast-button-icon {
    
    &--play {
      background: url(../img/icon-play.svg) no-repeat;
      background-size: cover;
      width: 27px;
      height: 30px;
      position: relative;
      left: 2px;
    }
    
    &--stop {
      
    }
  }
  
  &__breast-button-content {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 11px;
  }
  
  &__breast-timer {
    opacity: .3;
    font-size: 15px;
    color: #000;
    text-align: center;
    margin-top: 19px;
  }
  
  &__breast-last {
    position: absolute;
    width: 50px;
    height: 25px;
    background: @color-second;
    border-radius: 100px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-size: 13px;
    top: -39px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  &__total {
    display: none;
    margin-top: 44px;
    
    &--sleep {
      margin-top: 70px;
      margin-top: 22%;
  
      @media screen and (min-width: 400px) {
        margin-top: 30%;
      }
  
      @media screen and (orientation: landscape) {
        margin-top: 5%;
      }
    }
  }
  
  &__total-header {
    text-align: center;
    font-size: 11px;
    opacity: .3;
    color: #000;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  
  &__total-counter {
    text-align: center;
    font-size: 40px;
    color: #fff;
  }
  
  &__bottle-wrapper {
    display: none;
  }
  
  &__bottle-amount {
    display: flex;
    align-items: flex-end;
    margin: 30px 0 30px;
    justify-content: center;
  }
  
  &__bottle-amount-number {
    font-size: 40px;
    line-height: 33px;
    color: #fff;
  }
  
  &__bottle-amount-unit {
    margin-left: 6px;
    font-size: 21px;
    color: #fff;
  }
  
  &__range {
    width: 87.5%;
    margin: 0 auto;
  }
  
  &__range-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  &__range-section-item {
    font-size: 12px;
    color: #fff;
    width: 100%;
    text-align: center;
  }
  
  &__bottle-wrapper {
    
  }
  
  &__activity-icon {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    
    &--sleep {
      background: url(../img/icon-sleep-big.svg) no-repeat;
      background-size: cover;
    }
  }
  
  &--short {
    margin-bottom: 50px;
    height: auto;
    
    &:after {
      bottom: -40px;
      left: -15%;
      width: 130%;
    }
    
    .tracker__total {
      margin-top: 35px;
    }
  }
  
  &--sleep {
    background: @color-second;
    margin-bottom: 100px;
    padding-top: 36px;
    
    &:after {
      background: @color-second;
    }
    
    .tracker__total {
      display: block;
    }
  }
}