.button {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background: @color-fourth;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  
  &--finish {
    background: @color-danger;
    display: flex;
    
    &:before {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 3px;
      background: #fff;
      margin-right: 9px;
      margin-bottom: 2px;
    }
  }
  
  &--start {
    background: @color-first;
    display: flex;
    
    &:before {
      content: '';
      display: block;
      width: 17px;
      height: 19px;
      background: #fff;
      background: url(../img/icon-play-small.svg) no-repeat;
      background-size: cover;
      margin-right: 12px;
      margin-bottom: 3px;
    }
  }
  
  &--centered {
    margin: 40px auto 20px;
  }
}
