.history {
  padding-bottom: 13px;
  
  .section__header {
    margin-top: 12px;
  }
  
  &__content {
    padding: 15px 0;
  }
  
  &__item {
    display: flex;
    min-height: 60px;
    
    &+& {
      
      .history__item-content {
        border-top: 1px solid #eaeaea;
      }
    }
  }
  
  &__icon {
    width: 60px;
    height: 60px;
    flex: 0 0 auto;
    
    &--feeding {
      background: url(../img/icon-feed.svg) no-repeat center;
      background-size: 17px 31px;
    }
    
    &--sleep {
      background: url(../img/icon-sleep.svg) no-repeat center;
      background-size: 30px 29px;
    }
    
    &--nappy {
      background: url(../img/icon-nappy-small.svg) no-repeat center;
      background-size: 28px 20px;
    }
  }
  
  &__item-content {
    width: 100%;
    padding: 10px 15px 9px 0;
  }
  
  &__item-header {
    display: flex;
    justify-content: space-between;
  }
  
  &__item-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: @color-dark;
  }
  
  &__item-comment {
    font-size: 13px;
    line-height: 20px;
    color: @color-grey;
  }
  
  &__item-time {
    font-size: 13px;
    text-transform: uppercase;
    color: @color-grey;
  }
}