mixin history(header, comment, additionalClass)
  .history.section(class=additionalClass)
    .section__header #{header}
    .section__content.history__content
      .history__item
        .history__icon.history__icon--feeding
        .history__item-content
          .history__item-header 
            .history__item-title Breast milk 75 ml 
            .history__item-time 10:50 AM
          .history__item-comment #{comment}
      .history__item
        .history__icon.history__icon--sleep
        .history__item-content
          .history__item-header 
            .history__item-title Sleep 2h 30 m
            .history__item-time 5:30 PM
          .history__item-comment Bad dreams :(
      .history__item
        .history__icon.history__icon--nappy
        .history__item-content
          .history__item-header 
            .history__item-title Nappy wet
            .history__item-time 1:25 AM
          .history__item-comment Green!!!
      .history__item
        .history__icon.history__icon--feeding
        .history__item-content
          .history__item-header 
            .history__item-title Breast
            .history__item-time 1:25 AM
          .history__item-comment Left 2 min, Right 5 min