/* Rangeslider */

.rangeslider {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, .5);
  box-shadow: none;
  
  &__fill {
    background: rgba(255, 255, 255, 1);
    box-shadow: none;
    height: 5px!important;
  }
  
  &__handle {
    background: url(../img/slider-handle.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    box-shadow: none;
    border: 0;
    top: -12px!important;
    
    &:after {
      display: none;
    }
  }
  
  &--active {
    
    .rangeslider__handle {
      background: url(../img/slider-handle.svg) no-repeat;
      background-size: cover;
    }
  }
}