.navigation-bar {
  background: @color-third;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px 12px 12px;
  flex: 0 0 auto;
  
  &__back {
    width: 12.5px;
    height: 6.5px;
    background: url(../img/arrow-white.svg) no-repeat;
    background-size: cover;
    transform: rotate(90deg);
  }
  
  &__name {
    font-size: 17px;
    text-align: center;
    color: #fff;
  }
  
  &__close {
    width: 13px;
    height: 13px;
    background: url(../img/close.svg) no-repeat;
    background-size: cover;
  }
}