include ../blocks/growth/growth.pug
include ../blocks/section/section.pug
include ../blocks/navigation-bar/navigation-bar.pug
include ../blocks/kids/kids.pug
include ../blocks/actions/actions.pug
include ../blocks/settings-link/settings-link.pug
include ../blocks/day/day.pug
include ../blocks/item/item.pug
include ../blocks/tracker/tracker.pug
include ../blocks/text-button/text-button.pug
include ../blocks/button/button.pug
include ../blocks/button-bar/button-bar.pug
include ../blocks/range/range.pug
include ../blocks/sleep/sleep.pug
include ../blocks/activity/activity.pug
include ../blocks/history/history.pug
include ../blocks/period/period.pug
include ../blocks/nappy/nappy.pug
include ../blocks/list/list.pug
include ../blocks/growth-page/growth-page.pug
include ../blocks/chart/chart.pug
