.text-button {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  text-transform: uppercase;
  margin: 30px 0;
  flex: 0 0 auto;
  text-align: center;
  text-decoration: none;
  
  &--common {
    color: @color-dark;
  }
  
  &--green {
    color: @color-first;
  }
}
