mixin day(additionalClass)
  .day.section(class=additionalClass)
    .section__header Today
    .day__content.section__content
      .day__item
        .day__item-icon.day__item-icon--feed
        .day__item-right
          .day__item-content
            .day__item-name Breast milk 75 ml 
            .day__item-comment Well done
          .day__item-time 10:50 AM
      .day__item
        .day__item-icon.day__item-icon--sleep
        .day__item-right
          .day__item-content
            .day__item-name Sleep 2h 30 m
            .day__item-comment Bad dreams :(
          .day__item-time 5:30 PM
      .day__item
        .day__item-icon.day__item-icon--nappy
        .day__item-right
          .day__item-content
            .day__item-name Nappy wet
            .day__item-comment Green!!!
          .day__item-time 1:25 AM
      .day__item
        .day__item-icon.day__item-icon--feed
        .day__item-right
          .day__item-content
            .day__item-name Breast 
            .day__item-comment Left 2 min, Right 5 min
          .day__item-time 1:25 AM
      a.day__link(href="#") See All