.day {
  
  &__content {
    background: #fff;
    border-radius: 8px;
    padding: 10px 0 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__item {
    display: flex;
    width: 100%;
  }
  
  &__item-right {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-right: 15px;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
  }
  
  &__item-icon {
    width: 60px;
    height: 60px;
    flex: 0 0 auto;
    
    &--feed {
      background: url(../img/icon-feed.svg) no-repeat center;
    }
    
    &--nappy {
      background: url(../img/icon-nappy-small.svg) no-repeat center;
    }
    
    &--sleep {
      background: url(../img/icon-sleep.svg) no-repeat center;
    }
  }
  
  &__item-content {
    
  }
  
  &__item-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: @color-dark;
  }
  
  &__item-comment {
    font-size: 13px;
    line-height: 20px;
    color: @color-grey;
  }
  
  &__item-time {
    font-size: 13px;
    color: @color-grey;
    text-transform: uppercase;
  }
  
  &__link {
    font-size: 12px;
    text-transform: uppercase;
    color: @color-fourth;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 25px;
    font-weight: 500;
  }
}