.section {
  padding: 0 10px;
  width: 100%;
  
  &__header {
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    color: @color-grey;
    text-transform: uppercase;
    margin-top: 22px;
    
    &--left {
      text-align: left;
    }
  }
  
  &__content {
    border-radius: .8rem;
    background: #fff;
    margin-top: 10px;
    width: 100%;
  }
  
  &__add-button {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: @color-fourth;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/icon-add.svg) no-repeat;
      margin-right: 10px;
    }
  }
}