.growth-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 25px;
  
  &__button-bar {
    
    .button-bar__button {
      width: 89px;
    }
  }
  
  &__chart {
    width: 100%;
    padding-left: 10px;
  }
}
