.nappy {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__icon {
    width: 90px;
    height: 90px;
    background: url(../img/icon-nappy.svg) no-repeat;
    background-size: cover;
    margin: 15px 0 6px;
  }
  
  &__button {
    margin-top: 20px;
  }
}
