@color-first: #60c4b5;

@color-second: #f6bf5b;

@color-third: #3a3b70;

@color-fourth: #FF9840;

@color-danger: #F3546D;

/*UIColor(red: 63/255, green: 71/255, blue: 82/255)*/
@color-dark: #3F4752;

/*UIColor(red: 142/255, green: 155/255, blue: 170/255) */
@color-grey: #8E9BAA;

@font-first: 'Rubik', 'Arial', sans-serif;


@screen-xs:                   479px;
@screen-sm:                   767px;
@screen-md:                   1023px;
@screen-lg:                   1199px;