mixin button-bar(name, contentLeft, contentRight, additionalClass, additionalClass2, additionalClass3)
  .button-bar(class=additionalClass, class=additionalClass2, class=additionalClass3)
    .button-bar__item
      input(type='radio', name=name, checked='')
      button.button-bar__button #{contentLeft}
    .button-bar__item
      input(type='radio', name=name)
      button.button-bar__button #{contentRight}
      
      
mixin button-bar--triple(additionalClass)
  .button-bar.button-bar--big(class=additionalClass)
    .button-bar__item
      input(type='radio', name='section', checked='')
      button.button-bar__button Height
    .button-bar__item
      input(type='radio', name='section')
      button.button-bar__button Weight
    .button-bar__item
      input(type='radio', name='section')
      button.button-bar__button Head