.button-bar {
  
  .button-bar__button {
    line-height: 26px;
    padding-bottom: 0px;
  }
  
  &--big {
  
    .button-bar__button {
      width: 100px;
      height: 29px;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 25px;
      padding-bottom: 2px;
    }
  }
  
  &--feeding {
  
    .button-bar__button {
      color: #fff;
      background: @color-first;
      border-color: #fff;
      line-height: 27px;
    }
    .button-bar__button:active,
    :active + .button-bar__button {
      background-color:@color-first;
      border-color: #fff;
    }

    .button-bar__item.active > .button-bar__button,
    :checked + .button-bar__button {
      background: #fff;
      color: @color-first;
    }
    .button-bar__item:first-child > .button-bar__button {
      border-color: #fff;
    }
    .button-bar__item:last-child > .button-bar__button {
      border-color: #fff;
    }
  }
  
  &--common {
    
    .button-bar__button {
      text-transform: initial;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 25px;
      padding-bottom: 2px;
    }
  }
  
  &--sleep {
    
  }
}