mixin chart(additionalClass)
  .chart(class=additionalClass)
    .chart__vertical
      .chart__units kg
      ul.chart__list.chart__list--vertical
        li.chart__list-item 8
        li.chart__list-item 7
        li.chart__list-item 6
        li.chart__list-item 5
        li.chart__list-item 4
        li.chart__list-item 3
        li.chart__list-item 2
        li.chart__list-item 0
    .chart__horizontal
      ul.chart__list.chart__list--horizontal
        li.chart__list-item 2
        li.chart__list-item 4
        li.chart__list-item 6
        li.chart__list-item 8
        li.chart__list-item 10
        li.chart__list-item 12
      .chart__units months
    .chart__content
    .chart__bubble
      .chart__bubble-header 11 months
      .chart__bubble-content 6,7kg