.chart {
  display: flex;
  align-items: flex-end;
  background: #fff;
  border-radius: 8px 0 0 8px;
  margin-top: 15px;
  width: 100%;
  padding: 16px 0 35px 15px;
  position: relative;
  
  &__vertical {
    
  }
  
  &__horizontal {
    position: relative;
    
    .chart__units {
      position: absolute;
      left: 50%;
      transform: translateX(-70%);
      top: 25px;
    }
    
    .chart__list-item:first-child {
      margin-left: 32px;
    }
      
    .chart__list-item + .chart__list-item {
      margin-left: 35px;
    }
  }
  
  &__units {
    font-size: 12px;
    color: @color-grey;
    line-height: 20px;
    margin-bottom: 10px;
  }
  
  &__list {
    
    &--vertical {
      
      .chart__list-item + .chart__list-item {
        margin-top: 19.5px;
      }
    }
    
    &--horizontal {
      display: flex;
    }
  }
  
  &__list-item {
    font-size: 12px;
    color: @color-grey;
    line-height: 20px;
  }
  
  &__content {
    position: absolute;
    background: url(../img/chart-big.svg) no-repeat;
    background-size: cover;
    bottom: 62px;
    left: 32px;
    width: 230px;
    height: 220px;
  }
  
  &__bubble {
    position: absolute;
    top: 25px;
    left: 212px;
    width: 90px;
    height: 60px;
    border-radius: 100px;
    background: @color-first;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  &__bubble-header {
    font-size: 13px;
    color: #fff;
  }
  
  &__bubble-content {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    margin-top: 7px;
  }
}