.item {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  height: 50px;
  
  &__header {
    color: @color-dark;
    font-size: 15px;
  }
  
  &+& {
    border-top: 1px solid #eaeaea;
  }
  
  &__content {
    font-size: 15px;
    color: @color-fourth;
  }
  
  &__input {
    height: auto;
    background: transparent;
    font-size: 15px;
    max-height: 100%;
    color: @color-grey;
    width: 100%;
    resize: none;
    line-height: 20px;
    padding-top: 5px;
//    padding-top: 19px;
  }
  
  &__right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-right: 15px;
  }
  
  &__icon {
    width: 60px;
    height: 60px;
    flex: 0 0 auto;
    
    &--height {
      background: url(../img/icon-height.svg) no-repeat center;
    }
    
    &--weight {
      background: url(../img/icon-weight.svg) no-repeat center;
      font-size: 9px;
      font-weight: 5
        ;
      color: #fff;
    }
    
    &--head {
      background: url(../img/icon-head.svg) no-repeat center;
    }
  }
  
  &--text {
    color: @color-grey;
    font-size: 15px;
    line-height: 20px;
    height: auto;
  }
  
  &--iconed {
    padding: 0;
    
    &+& {
      border-top: 0;
      
      .item__right {
        border-top: 1px solid #eaeaea;
      }
    }
  }
}
