doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    .activity.activity--feeding
      +navigation-bar('Feeding')
      .tracker
        +button-bar('feeding', 'breast', 'bottle', 'button-bar--big', 'button-bar--feeding', 'tracker__button-bar')
        .tracker__breast-wrapper
          .tracker__total.tracker__total--feeding
            .tracker__total-header Total
            .tracker__total-counter 03:42
          .tracker__breast
            .tracker__breast-item
              a.tracker__breast-button(href="#")
                .tracker__breast-button-icon.tracker__breast-button-icon--play
                .tracker__breast-button-content Left
              .tracker__breast-timer 00:00
            .tracker__breast-item
              .tracker__breast-last Last
              a.tracker__breast-button(href="#")
                .tracker__breast-button-icon.tracker__breast-button-icon--play
                .tracker__breast-button-content Right
              .tracker__breast-timer 00:00
        .tracker__bottle-wrapper
          //.tracker__bottle-amount
            .tracker__bottle-amount-number 4
            .tracker__bottle-amount-unit oz
          //.tracker__range
            input.range(type='range', min="0", max="10", step="1", value="4")
            .tracker__range-sections
              .tracker__range-section-item 0
              .tracker__range-section-item 1
              .tracker__range-section-item 2
              .tracker__range-section-item 3
              .tracker__range-section-item 4
              .tracker__range-section-item 5
              .tracker__range-section-item 6
              .tracker__range-section-item 7
              .tracker__range-section-item 8
              .tracker__range-section-item 9
              .tracker__range-section-item 10
          .tracker__bottle-amount
            .tracker__bottle-amount-number 75
            .tracker__bottle-amount-unit ml
          .tracker__range
            input.range(type='range', min="0", max="300", step="1", value="75")
            .tracker__range-sections
              .tracker__range-section-item 0
              .tracker__range-section-item 50
              .tracker__range-section-item 100
              .tracker__range-section-item 150
              .tracker__range-section-item 200
              .tracker__range-section-item 250
              .tracker__range-section-item 300
      form.section.activity__data.activity__breastfeeding-result(action="#", method="post")
        .section__content
          .item
            .item__header Date
            .item__content Today, 9:00 AM
          .item
            .item__header Left
            .item__content 03:42
          .item
            .item__header Right
            .item__content 01:30
          .item
            textarea.item__input(placeholder="Add note")
      form.section.activity__data.activity__breastfeeding-manual(action="#", method="post")
        .section__content
          .item
            .item__header Date
            .item__content Today, 9:00 AM
          .item
            .item__header Left
            .item__content Enter
          .item
            .item__header Right
            .item__content Enter
          .item
            textarea.item__input(placeholder="Add note")
      form.section.activity__data.activity__bottle-data(action="#", method="post")
        .section__content
          .item
            .item__header Date
            .item__content Today, 9:00 AM
          .item
            .item__header Type
            +button-bar('bottle', 'Breast milk', 'Formula', 'button-bar--big', 'button-bar--common')
          .item
            textarea.item__input(placeholder="Add note")
      form.section.activity__data.activity__bottle-history(action="#", method="post")
        .section__content
          .item
            .item__header Date
            .item__content Today, 9:00 AM
          .item
            .item__header Type
            +button-bar('bottle', 'Breast milk', 'Formula', 'button-bar--big', 'button-bar--common')
          .item.item--text Well done, my son eat all milk and i`am very happy.
      .activity__controls.activity__controls-breastfeeding-initial
        a.text-button.text-button--green.activity__manual(href="#") enter manually
      .activity__controls.activity__controls-in-progress
        +button('Finish', 'button--finish')
        a.text-button.text-button--common Cancel
      .activity__controls.activity__controls-result
        +button('Save')
        a.text-button.text-button--common Cancel
      .activity__controls.activity__controls-manual
        +button('Save')
        a.text-button.text-button--green Start timer
      .activity__controls.activity__controls-bottle-initial
        +button('Save')
      .activity__controls.activity__controls-bottle-history
        +button('Save')
        a.text-button.text-button--common Delete
    include ../templates/scripts.pug