doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +navigation-bar('Growth')
    .growth-page
      +button-bar--triple('growth-page__button-bar')
      .growth-page__chart
        +chart
      .section
        a.section__add-button(href="#") Add measurement
    include ../templates/scripts.pug