doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +navigation-bar('History')
    +period
    +history('Today', 'Well done')
    +history('Yesterday', 'Well done, my son eat all milk and i`am very happy. Olololo ololol olo...')
    include ../templates/scripts.pug