doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +navigation-bar('Baby Tracker')
    +kids
    +actions
    +growth
    a.settings-link(href="#") Settings
    include ../templates/scripts.pug