doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +navigation-bar('Add Measurement')
    .section
      .section__content
        .item.item--iconed
          .item__icon.item__icon--height
          .item__right
            .item__header Height
            .item__content Enter
        .item.item--iconed
          .item__icon.item__icon--weight kg
          .item__right
            .item__header Weight
            .item__content Enter
        .item.item--iconed
          .item__icon.item__icon--head
          .item__right
            .item__header Head
            .item__content Enter
    .section
      .section__content
        .item
          .item__header Date
          .item__content Today
    +button('save', 'button--centered')
    include ../templates/scripts.pug