doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +navigation-bar('Nappy')
    .nappy
      .nappy__icon
      .section
        .section__content
        ul.list
          li.list__item.list__item--tappable
            .list__item__left
              label.radio-button
                input#r1.radio-button__input(type="radio", name="r", checked="checked")
                .radio-button__checkmark
            label.list__item__center(for="r1") Clean
          li.list__item.list__item--tappable
            .list__item__left
              label.radio-button
                input#r2.radio-button__input(type="radio", name="r")      
                .radio-button__checkmark
            label.list__item__center(for="r2") Wet
          li.list__item.list__item--tappable
            .list__item__left
              label.radio-button
                input#r3.radio-button__input(type="radio", name="r")      
                .radio-button__checkmark
            label.list__item__center(for="r3") Dirty
          li.list__item.list__item--tappable
            .list__item__left
              label.radio-button
                input#r4.radio-button__input(type="radio", name="r")      
                .radio-button__checkmark
            label.list__item__center(for="r4") Mixed
      .section
        .section__content
          .item
            .item__header Date
            .item__content Today, 9:00 АМ
          .item
            textarea.item__input(placeholder="Add note")
      +button('Save', 'nappy__button')
    include ../templates/scripts.pug