doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +navigation-bar('Settings')
    .section
      .section__header.section__header--left Notification
      .section__content
        .item
          .item__header Push notification
          label.switch
            input.switch__input(type='checkbox', checked='')
            .switch__toggle
              .switch__handle
    .section
      .section__header.section__header--left unit of measurement
      .section__content
        .item
          .item__header Bottle amount
          +button-bar('bottle', 'ml', 'oz')
        .item
          .item__header Height
          +button-bar('height', 'cm', 'inch')
        .item
          .item__header Weight
          +button-bar('weight', 'kg', 'lbs')
    include ../templates/scripts.pug