doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    .activity.activity--sleep
      +navigation-bar('Sleep')
      .tracker.tracker--sleep
        .tracker__activity-icon.tracker__activity-icon--sleep
        .tracker__total.tracker__total--sleep
          .tracker__total-header Total
          .tracker__total-counter 00:00
      form.section.activity__data.activity__sleep-result(action="#", method="post")
        .section__content
          .item
            .item__header Start sleep
            .item__content Today, 9:00 AM
          .item
            .item__header End
            .item__content Today, 11:00 AM
          .item
            textarea.item__input(placeholder="Add note")
      form.section.activity__data.activity__sleep-manual(action="#", method="post")
        .section__content
          .item
            .item__header Start sleep
            .item__content Today, 9:00 AM
          .item
            .item__header End
            .item__content Enter
          .item
            textarea.item__input(placeholder="Add note")
      .activity__controls.activity__controls-sleep-initial
        +button('Start', 'button--start')
        a.text-button.text-button--green.activity__manual(href="#") enter manually
      .activity__controls.activity__controls-in-progress
        +button('Finish', 'button--finish')
        a.text-button.text-button--common Cancel
      .activity__controls.activity__controls-result
        +button('Save')
        a.text-button.text-button--common Cancel
      .activity__controls.activity__controls-manual
        +button('Save')
        a.text-button.text-button--green Start timer
      //.sleep__buttons.sleep__buttons--start
        +button('Start', 'button--start')
        a.text-button.text-button--green Enter Manually
      //.sleep__buttons.sleep__buttons--finish
        +button('Finish', 'button--finish')
        a.text-button.text-button--common Cancel
      //form.data.section(action="#", method="POST", class=additionalClass)
        .section__content
          .item
            .item__header Start sleep
            .item__content Today, 9:00 AM
          .item
            .item__header End
            .item__content Today, 11:00 AM
          .item
            input.item__input(type="text", placeholder="Add note")
    include ../templates/scripts.pug