.period {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 13px;
  
  &__arrow {
    width: 13px;
    height: 7px;
    
    &--left {
      background: url(../img/arrow-orange.svg) no-repeat;
      background-size: cover;
      transform: rotate(90deg);
    }
    
    &--right {
      background: url(../img/arrow-orange.svg) no-repeat;
      background-size: cover;
      transform: rotate(-90deg);
    }
  }
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: @color-fourth;
    width: 147px;
    height: 30px;
    border: 1px solid @color-fourth;
    border-radius: 100px;
    
    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 13px;
      background: url(../img/icon-calendar.svg) no-repeat;
      background-size: cover;
      margin-right: 9px;
    }
  }
}
