.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
  
  @media screen and (orientation: landscape) {
    height: auto;
  }
  
  @media screen and (max-height: 525px) {
    height: auto;
  }
  
  &__controls-in-progress {
    display: none;
    margin-top: 20px;
  }
  
  &__data {
    display: none;
    margin-bottom: 20px;
  }
  
  &__controls {
    display: none;
    flex: 0 0 auto;
  }
  
  &__controls-breastfeeding-initial {
    display: block;
  }
  
  &--breastfeeding-started {
    
    .tracker__button-bar {
      display: none;
    }
    
    .tracker__total--feeding {
      display: block;
    }
  
    .tracker__breast {
      margin-top: 46px;
    }
    
    .tracker__breast-last {
      display: none;
    }
    
    .activity__controls {
      display: none;
    }
    
    .activity__controls-in-progress {
      display: block;
    }
  }
  
  &--breastfeeding-result {
    
    .activity__breastfeeding-result {
      display: block;
    }
    
    .tracker__breast {
      display: none;
    }
    
    .tracker__button-bar {
      display: none;
    }
    
    .tracker__total--feeding {
      display: block;
    }
    
    .activity__controls {
      display: none;
    }
    
    .activity__controls-result {
      display: block
    }
  }
  
  &--breastfeeding-manual {
    
    .activity__breastfeeding-manual {
      display: block;
    }
    
    .tracker__breast {
      display: none;
    }
    
    .tracker__button-bar {
      display: none;
    }
    
    .tracker__total--feeding {
      display: block;
    }
    
    .activity__controls {
      display: none;
    }
    
    .activity__controls-manual {
      display: block
    }
  }
  
  &--bottle {
    padding-bottom: 20px;
    height: auto;
    
    .tracker {
      height: auto;
    }
    
    .tracker__breast {
      display: none;
    }
    
    .tracker__bottle-wrapper {
      display: block;
    }
    
    .activity__bottle-data {
      display: block;
    }
    
    .activity__controls {
      display: none;
    }
    
    .activity__controls-bottle-initial {
      display: block;
    }
  }
  
  &--bottle-history {
    
    .tracker__breast {
      display: none;
    }
    
    .tracker__bottle-wrapper {
      display: block;
    }
    
    .activity__bottle-data {
      display: none;
    }
    
    .activity__controls {
      display: none;
    }
    
    .activity__controls-bottle-history {
      display: block;
    }
    
    .activity__bottle-history {
      display: block;
    }
    
    .tracker__button-bar {
      display: none;
    }
  }
  
  &--sleep {
    
    .activity__controls-sleep-initial {
      display: block;
    }
  }
  
  &--sleep-in-progress {
    
    .activity__controls {
      display: none;
    }
    
    .activity__controls-in-progress {
      display: block;
      margin-top: 0;
    }
  }
  
  &--sleep-finished {
    
    .tracker--sleep {
      margin-bottom: 80px;
    }
    
    .tracker__activity-icon {
      display: none;
    }
    
    .tracker__total {
      margin-top: 30px;
    }
    
    .activity__controls {
      display: none;
    }
    
    .activity__controls-result {
      display: block;
    }
    
    .activity__sleep-result {
      display: block;
    }
  }
  
  &--sleep-manual {
    
    .tracker--sleep {
      margin-bottom: 80px;
    }
    
    .tracker__activity-icon {
      display: none;
    }
    
    .tracker__total {
      margin-top: 30px;
    }
    
    .activity__controls {
      display: none;
    }
    
    .activity__controls-manual {
      display: block;
    }
    
    .activity__sleep-manual {
      display: block;
    }
  }
}
