.growth {
  margin-top: 10px;
  
  &__content {
    background: #fff;
    padding: 4px 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 27px;
  }
  
  &__icon-item {
    
    &:nth-child(2) {
      margin: 0 38px;
    }
    
    &--height {
      width: 14px;
      height: 27px;
      background: url(../img/icon-height.svg) no-repeat;
      background-size: cover;
    }
    
    &--weight {
      width: 22px;
      height: 28px;
      background: url(../img/icon-weight.svg) no-repeat;
      background-size: cover;
      color: #fff;
      font-size: 9px;
      padding: 13px 0 0 6px;
      text-transform: uppercase;
    }
    
    &--head {
      width: 25px;
      height: 25px;
      background: url(../img/icon-head.svg) no-repeat;
      background-size: cover;
    }
  }
  
  &__offer {
    font-size: 14px;
    text-align: center;
    margin-top: 23px;
    font-weight: 500;
  }
  
  &__offer-comment {
    color: @color-grey;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 6px;
    font-size: 14px;
    padding: 0 50px;
  }
  
  &__item {
    width: 100%;
    padding: 15px 25px 20px 15px;
    
    &+& {
      border-top: 1px solid #eaeaea;
    }
  }
  
  &__item-header {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: @color-dark;
  }
  
  &__item-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  &__item-chart {
    width: 131px;
    height: 40px;
    background: url(../img/chart.svg) no-repeat left bottom;
    background-size: contain;
  }
  
  &__item-info {
    align-self: flex-start;
    max-width: 50px;
  }
  
  &__item-date {
    font-size: 13px;
    color: @color-grey;
  }
  
  &__item-numbers {
    font-size: 14px;
    color: @color-dark;
    font-weight: 500;
    margin-top: 6px;
  }
}