mixin growth(additionalClass)
  .growth.section(class=additionalClass)
    .section__header Growth
    .growth__content.section__content
      .growth__icons
        .growth__icon-item.growth__icon-item--height
        .growth__icon-item.growth__icon-item--weight kg
        .growth__icon-item.growth__icon-item--head
      h2.growth__offer Track your child's growth
      p.growth__offer-comment Add height, weight, and head circumference  
      a.section__add-button(href="#") add measurement
      
      
mixin growth--filled(additionalClass)
  .growth.section(class=additionalClass)
    .section__header Growth
    .growth__content.section__content
      .growth__item
        .growth__item-header Height
        .growth__item-content
          .growth__icon-item.growth__icon-item--height
          .growth__item-chart
          .growth__item-info
            .growth__item-date Jan 23
            .growth__item-numbers 86 cm
      .growth__item
        .growth__item-header Weight
        .growth__item-content
          .growth__icon-item.growth__icon-item--weight kg
          .growth__item-chart
          .growth__item-info
            .growth__item-date Jan 1
            .growth__item-numbers 14.5 kg
      .growth__item
        .growth__item-header Head
        .growth__item-content
          .growth__icon-item.growth__icon-item--head
          .growth__item-chart
          .growth__item-info
            .growth__item-date Dec 20
            .growth__item-numbers 15 cm
      a.section__add-button(href="#") add measurement