.settings-link {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: @color-fourth;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 26px;
  padding-bottom: 27px;

  &:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/icon-settings.svg) no-repeat;
    margin-right: 6px;
  }
}
