.actions {
  margin-bottom: 37px;
  
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding-right: 10px;
    
    &:nth-child(n+2) {
      border-top: 1px solid #eaeaea;
    }
    
    &--feed {
      
      .actions__item-icon {
        background: url(../img/icon-feed.svg) no-repeat center;
        background-size: 17px 31px;
      }
      
      .actions__item-name {
        color: @color-first;
      }
      
      .actions__item-button {
        background: @color-first url(../img/icon-plus.svg) no-repeat center;
      }
    }
    
    &--sleep {
      
      .actions__item-icon {
        background: url(../img/icon-sleep.svg) no-repeat center;
        background-size: 30px 29px;
      }
      
      .actions__item-name {
        color: @color-second;
      }
      
      .actions__item-button {
        background: @color-second url(../img/icon-plus.svg) no-repeat center;
      }
    }
    
    &--nappy {
      
      .actions__item-icon {
        background: url(../img/icon-nappy-small.svg) no-repeat center;
        background-size: 28px 20px;
      }
      
      .actions__item-name {
        color: #4ab4eb
      }
      
      .actions__item-button {
        background: #4ab4eb url(../img/icon-plus.svg) no-repeat center;
      }
    }
  }
  
  &__item-left {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  &__item-icon {
    width: 60px;
    height: 100%;
  }
  
  &__item-content {
    
  }
  
  &__item-name {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
  }
  
  &__dscr {
    margin-top: 7px;
    display: flex;
    align-items: center;
  }
  
  &__dscr-item {
    font-size: 13px;
    color: @color-dark;
    
    &+& {
      display: flex;
      
      &:before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #8e9baa;
        opacity: .5;
        margin: 0 6px;
        margin-top: 5px;
      }
    }
  }
  
  &__item-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}