mixin actions(additionalClass)
  .actions.section(class=additionalClass)
    ul.section__content
      li.actions__item.actions__item--feed
        .actions__item-left
          .actions__item-icon
          .actions__item-content
            p.actions__item-name Feed
            .actions__dscr
              p.actions__dscr-item Add your first feed
        a.actions__item-button
      li.actions__item.actions__item--sleep
        .actions__item-left
          .actions__item-icon
          .actions__item-content
            p.actions__item-name Sleep
            .actions__dscr
              p.actions__dscr-item Start track sleep
        a.actions__item-button
      li.actions__item.actions__item--nappy
        .actions__item-left
          .actions__item-icon
          .actions__item-content
            p.actions__item-name Nappy
            .actions__dscr
              p.actions__dscr-item When you changed a nappy?
        a.actions__item-button
      
      
mixin actions--filled(additionalClass)
  .actions.section(class=additionalClass)
    ul.section__content
      li.actions__item.actions__item--feed
        .actions__item-left
          .actions__item-icon
          .actions__item-content
            p.actions__item-name Feed
            .actions__dscr
              p.actions__dscr-item 2 hr ago
              p.actions__dscr-item Breast milk 75 ml
        a.actions__item-button
      li.actions__item.actions__item--sleep
        .actions__item-left
          .actions__item-icon
          .actions__item-content
            p.actions__item-name Sleep
            .actions__dscr
              p.actions__dscr-item 30 min ago
              p.actions__dscr-item Slept 2 hr 23 min
        a.actions__item-button
      li.actions__item.actions__item--nappy
        .actions__item-left
          .actions__item-icon
          .actions__item-content
            p.actions__item-name Nappy
            .actions__dscr
              p.actions__dscr-item 1h 30 min ago
              p.actions__dscr-item Dirty
        a.actions__item-button