.list {
  border: 0;
  border-radius: 8px;
  
  &__item {
    height: 50px;
    
    .list__item__left, .radio-button {
      
      &:focus {
        outline: none;
      }
    }
    
    &:first-child {
      box-shadow: none;
      border-top: 0;
    
      .list__item__center {
        border-top: 0;
      }
    }
    
    .list__item__center {
      background: #fff;
      border-top: 1px solid #eaeaea;
      font-size: 15px;
      color: @color-dark;
      
      &:focus {
        outline: none;
      }
    }
  }
  
  .list__item--tappable:active {
    background: #fff;
  }
  
  .radio-button__input:checked + .radio-button__checkmark {
    background: url(../img/icon-check.svg) no-repeat center;
    background-size: 19px 19px;
  }
  
  .radio-button__checkmark:after, .radio-button__checkmark:before {
    display: none;
  }
}
