.kids {
  display: flex;
  align-items: center;
  border-bottom: 0;
  overflow: auto;
  margin: 10px 0 10px 10px;
  
  &::-webkit-scrollbar { 
    display: none; 
  }
  
  &__item {
    flex: 0 0 auto;
    padding: 10px;
    width: auto;
    display: flex;
    align-items: center;
    border-radius: 14px;
    
    &:nth-child(n+2) {
      margin-left: 10px;
    }
    
    &--active {
      background: #fff;
      
      .kids__item-thumbnail {
        display: block;
      }
      
      .kids__item-name {
        color: @color-dark;
      }
    }
    
  }
  
  &__item-thumbnail {
    border-radius: 50%;
    display: none;
    margin-right: 10px;
  }
  
  &__item-content {
    
  }
  
  &__item-name {
    color: @color-fourth;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  &__item-age {
    font-size: 13px;
    color: rgba(0, 0, 0, .3);
    margin-top: 3px;
  }
}