mixin kids(additionalClass)
  .kids(class=additionalClass)
    .kids__item.kids__item--active
      img.kids__item-thumbnail(src='img/kid.jpg', alt='Kid')
      .kids__item-content
        .kids__item-name Mark
        .kids__item-age 8 months
    .kids__item
      img.kids__item-thumbnail(src='img/kid.jpg', alt='Kid')
      .kids__item-content
        .kids__item-name Jennifer
        .kids__item-age 2 years 6 months
    .kids__item
      img.kids__item-thumbnail(src='img/kid.jpg', alt='Kid')
      .kids__item-content
        .kids__item-name Marusya
        .kids__item-age 5 years